# PROTOTYPE

# Clock period
#NET "SYSCLK" PERIOD = 15;

# Pin assignment
#NET "LED<0>"		LOC = "P2";
#NET "LED<1>"		LOC = "P3";
#NET "LED<2>"		LOC = "P4";
#NET "LED<3>"		LOC = "P5";
#NET "LED<4>"		LOC = "P6";
#NET "LED<5>"		LOC = "P7";
NET "Z_AA<5>"		LOC = "P9";
#NET "OPT<0>"		LOC = "P10";
NET "Z_AA<6>"		LOC = "P11";
NET "Z_AA<4>"		LOC = "P12";
NET "Z_AA<3>"		LOC = "P13";
#NET "OPT<1>"		LOC = "P14";
NET "Z_AA<2>"		LOC = "P15";
NET "Z_AA<7>"		LOC = "P16";
#NET "OPT<2>"		LOC = "P17";
#NET ""				LOC = "P19"; # NOTUSED19H 
NET "Z_NBERR"		LOC = "P20";
NET "Z_READ"		LOC = "P21";
NET "Z_ADA<29>"	LOC = "P22";
NET "Z_NDTACK"		LOC = "P23";
NET "Z_ADA<30>"	LOC = "P24";
NET "Z_ADA<31>"	LOC = "P25";
NET "Z_NDS<0>"		LOC = "P26";
NET "Z_ADA<28>"	LOC = "P27";
NET "Z_NDS<2>"		LOC = "P28";
NET "I_33M"			LOC = "P30"; # master clock in
NET "I_PCICLK"		LOC = "P31"; # out
NET "I_PCICLK2"	LOC = "P32"; # in 
NET "Z_NDS<3>"		LOC = "P33";
NET "Z_Z3SENSE"	LOC = "P34";
NET "Z_DOE"			LOC = "P35";
NET "Z_NFCS"		LOC = "P38";
NET "Z_NDS<1>"		LOC = "P39";
NET "I_ACC<1>"		LOC = "P40"; # ICON0
NET "I_ACC<0>"		LOC = "P41"; # ICON1
NET "I_DATPAR<1>"	LOC = "P43"; # ICON2
NET "I_DATPAR<0>"	LOC = "P44"; # ICON3
NET "I_DAOUT"		LOC = "P45"; # ICON4
NET "I_PCIENA"		LOC = "P46"; # ICON5
NET "I_PCIDL"		LOC = "P48"; # ICON6
NET "I_DATA"		LOC = "P49"; # ICON7
NET "I_CFLT"		LOC = "P50"; # ICON8
NET "I_PLA<1>"		LOC = "P51"; # ICON9
NET "I_PLA<0>"		LOC = "P52"; # ICON10
NET "I_ZLA"			LOC = "P53"; # ICON11
NET "I_ZMA"			LOC = "P54"; # ICON12
#NET "I_ADD<0>"		LOC = "P56"; # ICON13
#NET "I_ADD<1>"		LOC = "P57"; # ICON14
#NET "I_ADD<2>"		LOC = "P58"; # ICON15
#NET ""				LOC = "P59"; # NOTUSED59H  
#NET ""				LOC = "P60"; # NOTUSED60H  
#NET ""				LOC = "P61"; # NOTUSED61H  
#NET "I_ADD<3>"		LOC = "P64"; # ICON16
#NET ""				LOC = "P66"; # ICON17
NET "I_NINT6"		LOC = "P68"; # ICON18
NET "I_NINT2"		LOC = "P69"; # ICON19
NET "Z_NCFGOUT"	LOC = "P70";
NET "Z_NSLAVE"		LOC = "P71";
NET "P_CBE<1>"		LOC = "P74";
NET "P_NSERR"		LOC = "P75";
NET "P_NPERR"		LOC = "P76";
NET "P_NLOCK"		LOC = "P77";
NET "P_NDEVSEL"	LOC = "P78";
NET "P_NIRDY"		LOC = "P79";
NET "P_CBE<2>"		LOC = "P80";
NET "P_CBE<3>"		LOC = "P81";
NET "P_NREQ<0>"	LOC = "P82";
NET "P_NGNT<1>"	LOC = "P83";
NET "P_NREQ<1>"	LOC = "P85";
NET "P_NGNT<0>"	LOC = "P86";
NET "P_CLKOUT<0>"	LOC = "P87";
NET "P_CLKOUT<1>"	LOC = "P88";
NET "P_NINTC"		LOC = "P91";
NET "P_NINTD"		LOC = "P92";
NET "P_NINTA"		LOC = "P93";
NET "P_NINTB"		LOC = "P94";
NET "P_NRESET"		LOC = "P95";
NET "P_CLKOUT<3>"	LOC = "P96";
NET "P_NGNT<3>"	LOC = "P97";
NET "P_NREQ<3>"	LOC = "P98";
NET "P_NGNT<2>"	LOC = "P100";
NET "P_CLKOUT<2>"	LOC = "P101";
NET "P_NREQ<2>"	LOC = "P102";
NET "P_NFRAME"		LOC = "P103";
NET "P_NTRDY"		LOC = "P104";
NET "P_NSTOP"		LOC = "P105";
NET "P_PAR"			LOC = "P106";
NET "P_CBE<0>"		LOC = "P107";
#NET ""				LOC = "P110"; # NOTUSED110H                       
#NET ""				LOC = "P111"; # NOTUSED111H
#NET "SENSE_5V0"	LOC = "P112";
#NET "SENSE_3V3"	LOC = "P113";
#NET ""				LOC = "P115"; # NOTUSED115H
NET "DEBUG<0>"		LOC = "P116";
NET "DEBUG<1>"		LOC = "P117";
NET "DEBUG<2>"		LOC = "P118";
NET "DEBUG<3>"		LOC = "P119";
NET "DEBUG<4>"		LOC = "P120";
NET "DEBUG<5>"		LOC = "P121";
#NET ""				LOC = "P124"; # NOTUSED124H
#NET ""				LOC = "P125"; # NOTUSED125H
#NET ""				LOC = "P126"; # NOTUSED126H
NET "DEBUG<6>"		LOC = "P128";
NET "DEBUG<7>"		LOC = "P129";
NET "DEBUG<8>"		LOC = "P130";
NET "DEBUG<9>"		LOC = "P131";
NET "DEBUG<10>"	LOC = "P132";
NET "DEBUG<11>"	LOC = "P133";
NET "DEBUG<12>"	LOC = "P134";
NET "DEBUG<13>"	LOC = "P135";
NET "DEBUG<14>"	LOC = "P136";
NET "DEBUG<15>"	LOC = "P137";
#NET ""				LOC = "P138"; # NOTUSED138H
#NET ""				LOC = "P139"; # NOTUSED139H
#NET ""				LOC = "P140"; # NOTUSED140H
#NET ""				LOC = "P142"; # NOTUSED142H
NET "Z_NIORST"		LOC = "P143";

NET "I_PCICLK2" TNM_NET = I_PCICLK2;
TIMESPEC TS_I_PCICLK2 = PERIOD "I_PCICLK2" 33 MHz HIGH 50%;

INST "I_33M" TNM = TNM_PG_I_CLK;
INST "I_PCICLK" TNM = TNM_PG_P_CLKS;
INST "P_CLKOUT*" TNM = TNM_PG_P_CLKS;
TIMESPEC TS_I_33M_P_CLKS = FROM "TNM_PG_I_CLK" TO "TNM_PG_P_CLKS" 10ns;